<h1 class="dashboard-header">Welcome to Recipes on Rails <%= current_user.uid %>!</h1>

<div class="container-left">
<%= form_with url: dashboard_path, local: true do |f| %>
  <%= f.label "Friend's Email:" %>
  <%= f.text_field :email %>
  <%= f.submit "Email Meal Plan" %>
<% end %>
</div>
 
<div class="container-right">
<%= button_to "Past Recipes", recipes_past_path, method: :get %>
</div>

<div class="meal-plan-week">
  <p> <%= @meal_plan[:data][:attributes][:start_date].to_date %> </p>
  <p> <%= @meal_plan[:data][:attributes][:end_date].to_date %> </p>
  <% @meal_plan[:data][:attributes][:recipes].each do |recipe|  %>
  <div class="card">
    <%= recipe[:title] %>
    <div class="card-body">
      <% end  %>
      <div class="card-title name">
        <section class="day-#{day}">
          <%= button_to "Add Meal", recipes_path, method: :get %>
        </section>
      </div>
    </div>
  </div>
</div>
