<%= @recipe[:attributes][:name] %>
<%= @recipe[:attributes][:recipe_info] %>

<% @recipe[:attributes][:ingredients].each do |ingredient| %>
  <p>><%=ingredient.name%>> <%=ingredient.amount  %></p>
<% end %>

<% @recipe[:attributes][:instructions].each do |instruction| %>
  <p>><%=instruction.step%>> <%=instruction.instruction  %></p>
<% end %>

<% @recipe[:attributes][:nutrients].each do |nutrient| %>
  <p>><%=nutrient.name%>> <%=nutrient.amount  %></p>
<% end %>
