<div class="container-fluid">

  <div class="media">
    <img class="mr-3" src=<%=@recipe.image%> alt="Generic placeholder image">
    <div class="media-body">
      <h3 class="mt-0"><%= @recipe.title %></h3>
      <%= @recipe.info %>
    </div>
  </div><br><br>

  <div class="row">
    <div class="col-sm">
      <h4>Ingredients</h4>
      <% @recipe.ingredients.each do |ingredient| %>
      <p> <%=ingredient[:amount] %> <%=ingredient[:name] %></p>
      <% end %><br>
    </div>
    <div class="col-lg">
      <h4>Instructions</h4>
      <ul>
        <% @recipe.instructions.each do |instruction| %>
        <li><%=instruction[:instruction] %></li>
        <% end %>
      </ul><br>
    </div>

  </div>
  <h3>Nutrition</h3><br>
  <div class="card-columns">
    <% @recipe.nutrients.each do |nutrient| %>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%=nutrient[:name]%></h5>
        <p class="card-text"><%=nutrient[:amount] %></p>
      </div>
    </div>
    <% end %>
  </div>

</div>
